@page
@model AzureProjectRazor.Pages.DeploymentSlotsModel
@{
    ViewData["Title"] = "Deployment Slots";
}
<div class="text-center">
    <h1 class="display-4">Testing Deployment Slots</h1>
    <h2>Validating deployment</h2>
</div>